<div id="toplogo">
<div id="header">
<div id="searchBar">
<div class="head"></div>
<div class="content">
<gcse:searchbox-only></gcse:searchbox-only>
</div>
</div>
<div id="logo">
<div class="logo_container">
<div class="title">
<h2><a href="https://www.myenglishpages.com"> My English Pages </a>|</h2>
</div>
<div class="subtitle">
<h3>Learn English Grammar Online</h3>
</div>
</div>
</div>
<div id="barmenu">
<ul>
<li> <a href="https://www.myenglishpages.com/site_php_files/grammar.php">Grammar</a></li>
<li> <a href="https://www.myenglishpages.com/site_php_files/vocabulary.php">Vocabulary</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/speaking.php">Speaking</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/reading.php">Reading</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/listening.php">Listening</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/writing.php">Writing</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/exercises.php">Exercises</a></li>
<li><a href="https://www.myenglishpages.com/blog" target="_blank">Blog</a></li>
</ul>
</div>
</div></div>
<div id="body">
<div id="fil d'arian">
<a href="./../index.php">Home</a>/<a href="grammar.php">Grammar</a>/ </div>
<div id="top_ads">
<hr />
<hr />
</div>
<div id"social">
</div>
<div class="title">
<hr />
<h1><p class=box_img___><img src="../images/icons/GRAMMAR BOOKS.gif" alt="books"></p>GRAMMAR</h1>
<hr />
</div>
<div class="topblock">
<div class="ads">
</div>
<div class="introduction">
<div>
<div class="addthis_sharing_toolbox"></div></div> </div>
</div>
<div class="body_content">
<div class="pure_content">
<hr />
<h2 align="center">Review of English tenses</h2>
<hr />
<div class="ad">
</div>
<p align="center">This is a review of the English tenses. The table is provided to help recall the form and use of the different English tenses studied in previous lessons. </p>
<p align="center"><p class=box_img___><img src="../images/grammar/English-tenses.png" alt="English tenses" width="210" height="199" /></p></p>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-simple-present.php">Simple Present </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">She drinks.</td>
</tr>
<tr>
<th>Negative</th>
<td>She does not drink.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Does she drink? </td>
</tr>
<tr>
<th>Form</th>
<td>I, you we they play | he, she, it play<strong>s</strong></td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action in the present taking place once, never or several times </li>
<li>facts </li>
<li>actions taking place one after another </li>
<li>action set by a timetable or schedule </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-present-progressive.php">Present Progressive </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">He is reading.</td>
</tr>
<tr>
<th>Negative</th>
<td>He is not reading.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Is he reading? </td>
</tr>
<tr>
<th>Form</th>
<td>To be (in the simple present) + verb + ing </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action taking place at the moment of speaking </li>
<li>action arranged for the future </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-simple-past.php">Simple Past </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">I cried. </td>
</tr>
<tr>
<th>Negative</th>
<td>I did not cry</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Did I cry? </td>
</tr>
<tr>
<th>Form</th>
<td>Regular verbs: Verb + ed | Irregular verbs: forms differ and should be learned by heart. This is a list of <a href="grammar-lesson-list-irregular-verbs.php">irregular verbs</a> </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action in the past taking place once, never or several times </li>
<li>actions taking place one after another</li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-past-progressive.php">Past Progressive </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">He was driving.</td>
</tr>
<tr>
<th>Negative</th>
<td>He was not driving.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Was he driving?</td>
</tr>
<tr>
<th>Form</th>
<td>to be (in the simple past) + verb + ing </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action going on at a certain time in the past </li>
<li>actions taking place at the same time </li>
<li>action in the past that is interrupted by another action </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-present-perfect.php">Present Perfect Simple </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">They have slept.</td>
</tr>
<tr>
<th>Negative</th>
<td>They have not slept.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Have they slept?</td>
</tr>
<tr>
<th>Form</th>
<td>Have / has + past participle (past participle of regular verbs: verb + ed | Past participle of irregular verbs: forms differ and should be learned by heart. This is a list of <a href="grammar-lesson-list-irregular-verbs.php">irregular verbs)</a> </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>emphasis is on the result (not the duration) </li>
<li>action that started in the past & is still going on </li>
<li>action that stopped recently </li>
<li>finished action that has an influence on the present </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-present-perfect-continuous.php">Present Perfect Progressive </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%"> He has been thinking.</td>
</tr>
<tr>
<th>Negative</th>
<td>He has not been thinking.</td>
</tr>
<tr>
<th>Interrogative</th>
<td> Has he been thinking? </td>
</tr>
<tr>
<th>Form</th>
<td>have or has + been + verb + ing <a href="grammar-lesson-list-irregular-verbs.php"></a></td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>putting emphasis on the course or duration (not the result) </li>
<li>action that recently stopped or is still going on </li>
<li>finished action that influenced the present</li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-past-perfect.php">Past Perfect Simple </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">She had won.</td>
</tr>
<tr>
<th>Negative</th>
<td>She had not won.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Had she won? </td>
</tr>
<tr>
<th>Form</th>
<td>had + past participle (past participle of regular verbs: verb + ed | Past participle of irregular verbs: forms differ and should be learned by heart. This is a list of <a href="grammar-lesson-list-irregular-verbs.php">irregular verbs)</a> </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action taking place before a certain time in the past </li>
<li>sometimes interchangeable with past perfect progressive </li>
<li>putting emphasis only on the fact (not the duration) </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-past-perfect.php">Past Perfect Progressive </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">He had been waiting.</td>
</tr>
<tr>
<th>Negative</th>
<td>He had not been waiting.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Had he been waiting?</td>
</tr>
<tr>
<th>Form</th>
<td>had + been + verb + ing <a href="grammar-lesson-list-irregular-verbs.php"></a></td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action taking place before a certain time in the past </li>
<li>sometimes interchangeable with past perfect simple </li>
<li>putting emphasis on the duration or course of an action </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-simple-future.php">Future Simple </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">I will open the door.</td>
</tr>
<tr>
<th>Negative</th>
<td>I will not open the door. </td>
</tr>
<tr>
<th>Interrogative</th>
<td>Will you open the door?</td>
</tr>
<tr>
<th>Form</th>
<td>will + verb </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>We use the simple future for instant decisions.</li>
<li>We use the simple future when we predict a future situation</li>
<li>We use the simple future in conditional sentences type one. (<a href="https://www.myenglishpages.com/site_php_files/grammar-lesson-conditionals.php">More on conditional sentences here</a>)</li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-future-plan.php"> Future Plan<br />
(going to)</a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">He is going to clean the car. </td>
</tr>
<tr>
<th>Negative</th>
<td>He is not going to clean the car. </td>
</tr>
<tr>
<th>Interrogative</th>
<td>Is he going to clean the car? </td>
</tr>
<tr>
<th>Form</th>
<td>to be (in the simple present) + going + to + verb</td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>to express the future when we intend to do something or have decided to do something but did not arrange it. It is just an intention.</li>
<li>predictions in the future </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-future-plan.php"> Future Plan<br />
(Present Progressive)</a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">He is traveling to Egypt next week. </td>
</tr>
<tr>
<th>Negative</th>
<td>He is not traveling to Egypt next week. </td>
</tr>
<tr>
<th>Interrogative</th>
<td>Is he traveling to Egypt next week? </td>
</tr>
<tr>
<th>Form</th>
<td>to be (in the simple present) + verb + ing </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>when we say what we have planned and arranged to do at a specific time in the future. These are fixed plans with definite time and/or place.</li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-future-progressive.php">Future  Progressive </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">She will be listening to music.</td>
</tr>
<tr>
<th>Negative</th>
<td>She will not be listening to music.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Will she be listening to music? </td>
</tr>
<tr>
<th>Form</th>
<td>will + be + verb + ing </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action that is going on at a certain time in the future </li>
<li>action that is sure to happen in the near future </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-future-perfect.php">Future Perfect </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">He will have spoken.</td>
</tr>
<tr>
<th>Negative</th>
<td>He will not have spoken.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Will he have spoken? </td>
</tr>
<tr>
<th>Form</th>
<td>will + have + past participle (past participle of regular verbs: verb + ed | Past participle of irregular verbs: forms differ and should be learned by heart. This is a list of <a href="grammar-lesson-list-irregular-verbs.php">irregular verbs)</a></td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action that will be finished at a certain time in the future </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-future-perfect.php">Future Perfect Progressive </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">You will have been studying.</td>
</tr>
<tr>
<th>Negative</th>
<td>You will not have been studying.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Will you have been studying?</td>
</tr>
<tr>
<th>Form</th>
<td>will + have + been + verb + ing </td>
</tr>
<tr>
<th>Uses</th>
<td><ul type="disc">
<li>action taking place before a certain time in the future </li>
<li>putting emphasis on the course of an action </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-conditional-simple.php">Conditional Simple</a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">We would relax.</td>
</tr>
<tr>
<th>Negative</th>
<td> We would not relax.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Would we relax ? </td>
</tr>
<tr>
<th>Form</th>
<td>would + verb </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action that might take place </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-conditional-progressive.php">Conditional Progressive</a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">He would be writing.</td>
</tr>
<tr>
<th>Negative</th>
<td>He would not be writing.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Would he be writing? </td>
</tr>
<tr>
<th>Form</th>
<td>would + be + verb + ing </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action that might take place </li>
<li>putting emphasis on the course / duration of the action </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2"><a href="grammar-lesson-conditional-perfect.php">Conditional Perfect </a></th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%"> He would have written.</td>
</tr>
<tr>
<th>Negative</th>
<td>He would not have written.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Would he have written?</td>
</tr>
<tr>
<th>Form</th>
<td>would + have + past participle (past participle of regular verbs: verb + ed | Past participle of irregular verbs: forms differ and should be learned by heart This is a list of <a href="grammar-lesson-list-irregular-verbs.php">irregular verbs)</a></td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action that might have taken place in the past </li>
</ul></td>
</tr>
</table>
<table width="95%">
<tr>
<th colspan="2">Conditional Perfect Progressive </th>
</tr>
<tr>
<th width="18%">Affirmative </th>
<td width="82%">She would have been sleeping. </td>
</tr>
<tr>
<th>Negative</th>
<td>She would not have sleeping speaking.</td>
</tr>
<tr>
<th>Interrogative</th>
<td>Would she have been sleeping? </td>
</tr>
<tr>
<th>Form</th>
<td>would + have + been + verb + ing </td>
</tr>
<tr>
<th>Uses</th>
<td><ul>
<li>action that might have taken place in the past </li>
<li>puts emphasis on the course / duration of the action </li>
</ul></td>
</tr>
</table>
<p><a href="grammar-lesson-examples-tenses.php">Examples of English tenses</a> <br />
<a href="grammar-exercise-tenses.php">Exercises on tenses. </a><br />
</p>
<div id="links">
<br />
<hr />
<hr />
<hr />
<br />
FOLLOW US:</span> NEWSLETTER</a> FACEBOOK</a> Google+</a> twitter</a> YouTube</a> </div><br /> <hr />
<div class="links1"> <a href="grammar.php">Grammar lessons.</a><br />
<a href="vocabulary.php">Vocabulary lessons.</a><br />
<a href="speaking.php">Speaking lessons.</a><br />
<a href="writing.php">Writing lessons.</a><br />
<a href="reading.php">Reading materials.</a><br />
<a href="listening.php">Listening materials.</a> <br />
<a href="exercises.php">Exercises and tests.</a>
</td>
</div>
<div class="links2">
</div>
</div>
</div>
<div class="skyskraper">
<div class="element_skyscraper1">
</div>
<div class="element_skyscraper2">
<div align="center">
</div>
</div>
</div>
<div id="content_bottom">
<div class="content_bottom_donation">
</div>
<div class="content_bottom_ads">
</div>
</div>
</div>
</div>
<div id="menu">
<div class="element_menu1">
<br /><div id="leftad">
</div>
</div>
<div class="element_menu">
<div class="leftstyle1"><h3 align="center">English For All</h3></div>
<h3 align="center">Free English Grammar Lessons and Exercises</h3>
<a href="https://www.myenglishpages.com/lists/?p=subscribe&id=1">SUBSCRIBE TO OUR NEWSLETTER</a></div>
<hr />
<div class="content">
<ul class="links">
<li><a href="https://www.myenglishpages.com/">Homepage</a></li>
<li>
<a href="https://www.myenglishpages.com/site_php_files/sitemap.php">Study Pages</a></li>
</ul>
</div>
<div class="leftstyle1"><h3 align="center">Study Pages</h3></div>
<div class="content">
<ul class="links">
<li><a href="https://www.myenglishpages.com/site_php_files/grammar.php">Grammar</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/speaking.php">Speaking</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/vocabulary.php">Vocabulary</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/reading.php">Reading</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/listening.php">Listening</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/writing.php">Writing</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/grammar-lesson-phrasal-verbs.php">Phrasal verbs</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/vocabulary-lesson-idioms.php">Idioms</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/exercises.php">Exercises</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/writing-stylistics.php">Figures of speech</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/study-skills-page.php">Study Skills</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/english-language-global-tests.php">Global tests</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/literature.php">Literature</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/english-dictionary.php">Dictionaries</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/holidays.php">Holidays</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/news.php">Site news</a> </li>
<li><a href="https://www.myenglishpages.com/site_php_files/reading-world-news-sources-links.php">World news</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/studying-in-the-usa.php">Studying in the USA</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/countries-visit-the-world.php">Visit the world</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/elt-books.php">ELT books</a></li>
</ul>
</div>
<br />
</div>
<div class="element_menu">
<div class="leftstyle1"><h3 align="center">Teachers</h3></div>
<div class="content">
<ul class="links">
<li><a href="https://www.myenglishpages.com/site_php_files/teachers.php">Resources</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/shared-esl-efl-resources.php">Shared resources</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/efl-esl-materials.php">Teaching materials </a></li>
<li><a href="https://www.myenglishpages.com/blog" target="_blank">Blog</a></li>
</ul>
</div>
</div>
<div class="element_menu">
<h3 align="center">Learn English the fun way </h3>
<hr />
<div class="content">
<ul class="links">
<li><a href="https://www.myenglishpages.com/site_php_files/proverbs.php">Quotes</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/lyrics_and_songs.php">Lyrics</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/jokes-by-categories.php">Jokes</a></li>
</ul>
</div>
</div>
<div class="element_menu">
<h3 align="center">EFL and ESL community </h3><hr />
</div>
</div>
<div class="element_menu">
</div>
<br class="clear" />
</div>
<div id="bottom">
<div id="foot"></div>
<div id="footer">
<div id="footHead">
<div class="container">
<div class="head"> Recent News </div>
<div class="head"> Awesome Links </div>
<div class="head"> Quotes </div>
</div>
<div class="clear"></div>
</div>
<div id="footBody">
<div class="container">
<div class="content">
<ul>
<li>
<a href="https://www.myenglishpages.com/site_php_files/grammar-exercise-either-neither-both.php" title="Either, neither, or both (exercise)">Either, neither, or both (exercise)</a> <li>
<a href="https://www.myenglishpages.com/site_php_files/reading-rap-music.php" title="Rap Music">Rap Music</a> <li>
<a href="https://www.myenglishpages.com/site_php_files/grammar-exercise-plural-compound-nouns.php" title="Exercise on the plural of compound nouns">Exercise on the plural of compound nouns</a> <li>
<a href="https://www.myenglishpages.com/site_php_files/grammar-lesson-plural-compound-nouns.php" title="The plural of compound nouns">The plural of compound nouns</a> <li>
<a href="https://www.myenglishpages.com/site_php_files/reading-renewable-energy.php" title="Renewable Energy">Renewable Energy</a> <li>
<a href="/site_php_files/reading-types-of-occupation.php" title="Types of occupation">Types of occupation</a> </li>
</ul>
</div>
<div class="content">
<ul>
<li><a href="https://www.myenglishpages.com/site_php_files/writing-stylistics.php">Figures of Speech</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/vocabulary-lesson-idioms.php">Idioms</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/grammar-lesson-list-irregular-verbs.php">List of Irregular Verbs</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/grammar-lesson-phrasal-verbs.php">Phrasal Verbs</a></li>
<li><a href="https://www.myenglishpages.com/site_php_files/study-skills.php">Study Skills</a></li>
<li><a href="https://www.myenglishpages.com/blog" target="_blank">Blog</a></li>
</ul>
</div>
<div class="content showcase"><a href="https://www.myenglishpages.com/site_php_files/proverbs.php"><p class=box_img___><img src="https://www.myenglishpages.com/images/icons/quote.png" alt="quote" align="right" /></p></a><br />
If you have no critics you'll likely have no success.<br />
<br /><em>Malcolm X</em> <ul>
<li><a href="https://www.myenglishpages.com/site_php_files/proverbs.php">More Quotes</a></li>
</ul>
</div>
</div>
<div class="clear"></div>
<div id="copyright">
<div class="container"><a href="/cdn-cgi/l/email-protection#1876717f706c6f7974737d6a5875617d767f74716b7068797f7d6b367b7775">Contact</a><br />
© Copyright 2018 myenglishpages.com </div>
</div>
</div>
</div>
</div>