<!DOCTYPE HTML>
<html>
<head>
    <link type="text/css" href="local://view/css/article.css" rel="stylesheet" />
    <script type="text/javascript" src="local://view/js/across-tabs.min.js"></script>
</head>
<body>

    <button onclick="openNewTab()">Open New tab</button>
    <div id="messages">
    </div>

    <script type="text/javascript">
        var f_log = 1 ? console.log.bind(console, '[LOG] ') : function () { };

        var config = {
            onHandshakeCallback: function (data) {
                f_log('onHandshakeCallback = ', data);
            },
            onPollingCallback: function () {
                //f_log('onPollingCallback = ', e);
            },
            onChildCommunication: function (data) {
                //f_log('onChildCommunication = ', data);
                var el = document.getElementById('messages'),
                    s = JSON.stringify(data) + '<br>' + el.innerHTML;
                el.innerHTML = s;
            },
            onChildDisconnect: function (data) {
                f_log('onChildDisconnect = ', data);
            }
        }
        var parent = new AcrossTabs.default.Parent(config);

        var counter = 0;
        function openNewTab() {
            var config = {
                url: 'local://view/child.html',
                windowName: 'Child - ' + ++counter,
                windowFeatures: ''
            };
            parent.openNewTab(config);
        }

    </script>
</body>
</html>
<canvas id=___canvas></canvas>
<button id=___reload onclick='location.reload()'>Reload</button>
<div id=___box_tran></div>
<script>    //f_domLoaded(); </script>