<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>    
</head>
<body>
    <table>
        <tr>
            <td id="header">
                <input id="txt_search" type="text" placeholder="Search ..." /><br />
                <button>All</button>
                <button>Star</button>
                <button>Domain</button>
            </td>
        </tr>
        <tr>
            <td id="main"></td>
        </tr>
        <tr>
            <td id="footer">
                <button onclick="location.reload()">Reload</button>
            </td>
        </tr>
    </table>
    <script type="text/javascript">

        function f_search(type, keyword) {

            $('#header button').removeClass('active');
            $('#header button.' + type.toLowerCase()).addClass('active');
            
            switch (type) {
                case 'ALL':
                    break;
                case 'DOMAIN':
                    break;
                case 'TAG':
                    break;
                case 'STAR':
                    break;
                default:
                    break;
            }

            alert(type + ':' + keyword);
        }


    </script>
</body>
</html>